:root {
    --box0Color: rgba(197, 219, 219, 0.467);
    --box1Color: rgba(197, 219, 219, 0.467);
    --box2Color: rgba(197, 219, 219, 0.467);
    --rotateSpeed: 20s;
    --bounceSpeed: 1s;
    --ballSpeed: 5s;
}

body {
    background-color: #000;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 75px;
    perspective: 10em;
    perspective-origin: 60% calc(30% - 2em);
}

.scene {
    position: relative;
    transform-style: preserve-3d;
    animation: sceneRotate var(--rotateSpeed) infinite linear;
}

@keyframes sceneRotate {
    to {
        transform: rotateY(-360deg);
    }
}

.ball {
    position: absolute;
    top: -2.5em;
    left: .7em;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-image: radial-gradient(
        circle at top, #f00, 50%, #000
    );
    animation:
    sceneRotate var(--rotateSpeed) infinite linear reverse,
    bounceBall var(--ballSpeed) calc(var(--bounceSpeed) * 3) linear infinite both;
}

@keyframes bounceBall {
    0% {top: -8em;
        left: -2.5em;}   
    10% {top: -3.5em;
        left: -2.5em;}
    20% {top: -3.5em;
        left: -1.2em;} 
    25% {top: -2.5em;
        left: -.6em;}
    40% {top: -2.5em;
        left: .9em;}
    50% {top: 0em;
        left: 1.5em;}
    65% {top: 0em;
        left: 4.8em;}
    100% {top: 5em;
        left: 9em;}
}

.cube {
    transform-style: preserve-3d;
    position: absolute;
    bottom: 7em;
    left: -3em;
    width: 2em;
    height: 4em;
    animation:
    cubeHeight0 var(--bounceSpeed) linear both, 
    cubeHeight0Ball var(--ballSpeed) calc(var(--bounceSpeed) * 3) linear infinite;
}
@keyframes cubeHeight0 {
    0% {bottom: 7em;
        height: 4em;}
    80% {bottom: -1em;
        height: 4em;}
    90% {height: 3.1em}
    100% {bottom: -1em;
        height: 4em;}
}
@keyframes cubeHeight0Ball {
    0% {height: 4em}
    9% {height: 4em}
    10% {height: 3.5em}
    20% {height: 3.5em}
    30% {height: 4em}
    100% {height: 4em}
}

.left, .right, .front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--box0Color);
    box-shadow: 0 0 .5em #000a inset;
}

.front {
    transform: translateZ(1em);
}
.right {
    transform: rotateY(90deg) translateZ(1em);
}
.back {
    transform: rotateY(180deg) translateZ(1em);
}
.left {
    transform: rotateY(270deg) translateZ(1em);
}
.top {
    position: absolute;
    width: 2em;
    height: 2em;
    background-color: var(--box0Color);
    transform: translateY(-50%) rotateX(90deg);
    box-shadow: 0 0 0.5em #000a inset;
}
.shadow {
    width: 100%;
    height: 100%;
    background: radial-gradient(at 50% 50%, #000, #0000);
    animation: shadow var(--ballSpeed) calc(var(--bounceSpeed) * 3) linear infinite both;
}

@keyframes shadow {
    0% {opacity: 0}
    9% {opacity: 1}
    10% {opacity: 1;
        background: radial-gradient(at 60% 50%, #000, #0000);}
    20% {opacity: 1;
        background: radial-gradient(at 80% 50%, #000, #0000);}
    30% {opacity: 0}
    100% {opacity: 0}
}
.bottom {
    position: absolute;
    width: 2em;
    height: 2em;
    bottom: 0;
    background-color: #0007;
    transform: translateY(50%) rotateX(90deg);
    box-shadow: 0 0 0.5em #000;
}

/* cube2 */
.cube1 {
    transform-style: preserve-3d;
    position: absolute;
    bottom: 7em;
    left: -1em;
    width: 2em;
    height: 3em;
    animation: cubeHeight1 var(--bounceSpeed) var(--bounceSpeed) linear both,
    cubeHeight1Ball var(--ballSpeed) calc(var(--bounceSpeed) * 3) linear infinite;
}
@keyframes cubeHeight1 {
    0% {bottom: 7em;
        height: 3em;}
    80% {bottom: -1em;
        height: 3em;}
    90% {height: 2.2em}
    100% {bottom: -1em;
        height: 3em;}
}
@keyframes cubeHeight1Ball {
    0% {height: 3em}
    23% {height: 3em}
    24% {height: 2.5em}
    40% {height: 2.5em}
    45% {height: 3em}
    100% {height: 3em}
}

.left1, .right1, .front1, .back1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--box1Color);
    box-shadow: 0 0 0.5em #000a inset;
}

.front1 {
    transform: translateZ(1em);
}
.right1 {
    transform: rotateY(90deg) translateZ(1em);
}
.back1 {
    transform: rotateY(180deg) translateZ(1em);
}
.left1 {
    transform: rotateY(270deg) translateZ(1em);
}
.top1 {
    position: absolute;
    width: 2em;
    height: 2em;
    background-color: var(--box1Color);
    transform: translateY(-50%) rotateX(90deg);
    box-shadow: 0 0 0.5em #000a inset;
}
.shadow1 {
    width: 100%;
    height: 100%;
    background: radial-gradient(at 50% 50%, #000, #0000);
    animation: shadow1 var(--ballSpeed) calc(var(--bounceSpeed) * 3) linear infinite both;
}

@keyframes shadow1 {
    0% {opacity: 0}
    23% {opacity: 0}
    24% {opacity: 1;
        background: radial-gradient(at 60% 50%, #000, #0000);}
    30% {opacity: 1;
        background: radial-gradient(at 70% 50%, #000, #0000);}
    40% {opacity: 1;
        background: radial-gradient(at 80% 50%, #000, #0000);}
    45% {opacity: 0}
    100% {opacity: 0}
}
.bottom1 {
    position: absolute;
    width: 2em;
    height: 2em;
    bottom: 0;
    background-color: #0007;
    transform: translateY(50%) rotateX(90deg);
    box-shadow: 0 0 0.5em #000;
}

/* cube3 */
.cube2 {
    transform-style: preserve-3d;
    position: absolute;
    bottom: 7em;
    left: 1em;
    width: 2em;
    height: 2em;
    animation: cubeHeight2 var(--bounceSpeed) calc(var(--bounceSpeed) * 2) linear both;
}
@keyframes cubeHeight2 {
    0% {bottom: 7em;
        height: 2em;}
    80% {bottom: -1em;
        height: 2em;}
    90% {height: 1.5em}
    100% {bottom: -1em;
        height: 2em;}
}

.left2, .right2, .front2, .back2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--box2Color);
    box-shadow: 0 0 0.5em #000a inset;
}

.front2 {
    transform: translateZ(1em);
    animation: openFront2 var(--ballSpeed) calc(var(--bounceSpeed) * 4) linear both infinite;
}

@keyframes openFront2 {
 
    0% {
        transform-origin: bottom;
    }   
    30% {
        transform-origin: bottom;
        transform: translateZ(1em) rotateX(-89deg);
    }   
    50% {
        transform-origin: bottom;
        transform: translateZ(1em) rotateX(-89deg);
    }  
    80%, 100% {
        transform-origin: bottom;
        transform: translateZ(1em);
    }   
}
.right2 {
    transform: rotateY(90deg) translateZ(1em);
    animation: openRight2 var(--ballSpeed) calc(var(--bounceSpeed) * 4) linear both infinite;
}

@keyframes openRight2 {
    0% {
        transform-origin: bottom;
    }   
    30% {
        transform-origin: bottom;
        transform: rotateY(90deg) translateZ(1em) rotateX(-89deg);
    }   
    50% {
        transform-origin: bottom;
        transform: rotateY(90deg) translateZ(1em) rotateX(-90deg);
    }  
    80%, 100% {
        transform-origin: bottom;
        transform: rotateY(90deg) translateZ(1em);
    }   
    
}
.shadow2 {
    width: 100%;
    height: 100%;
    background: radial-gradient(at 50% 50%, #000, #0000);
    animation: shadow2 var(--ballSpeed) calc(var(--bounceSpeed) * 3) linear infinite both;
}

@keyframes shadow2 {
    0% {opacity: 0}
    54% {opacity: 0}
    56% {opacity: 1;
        background: radial-gradient(at 50% 80%, #000, #0000);}
    58% {opacity: 1;
        background: radial-gradient(at 50% 70%, #000, #0000);}
    60% {opacity: 1;
        background: radial-gradient(at 50% 50%, #000, #0000);}
    62% {opacity: 1;
        background: radial-gradient(at 50% 30%, #000, #0000);}
    65% {opacity: 1;
        background: radial-gradient(at 50% 15%, #000, #0000);}
    70% {opacity: 0}
    100% {opacity: 0}
}
.back2 {
    transform: rotateY(180deg) translateZ(1em);
    animation: openBack2 var(--ballSpeed) calc(var(--bounceSpeed) * 4) linear both infinite;
}
@keyframes openBack2 {  
    0% {
        transform-origin: bottom;
    }   
    30% {
        transform-origin: bottom;
        transform: rotateY(180deg) translateZ(1em) rotateX(-89deg);
    }   
    50% {
        transform-origin: bottom;
        transform: rotateY(180deg) translateZ(1em) rotateX(-89deg);
    }  
    80%, 100% {
        transform-origin: bottom;
        transform: rotateY(180deg) translateZ(1em);
    }    
}
.left2 {
    transform: rotateY(270deg) translateZ(1em);
}

.bottom2 {
    position: absolute;
    width: 2em;
    height: 2em;
    bottom: 0;
    background-color: #0007;
    transform: translateY(50%) rotateX(90deg);
    box-shadow: 0 0 0.5em #000;
}

.floor {
    position: absolute;
    top: 1em;
    transform: 
        translate(-50%, -50%)
        rotateX(90deg);
    width: 20em;
    height: 20em;
    background-image: 
        radial-gradient(#0000, #000 70%), 
        repeating-conic-gradient(
        from 45deg,
        rgb(110, 2, 2) 0deg 90deg,
        rgba(56, 17, 17, 0.808) 90deg 180deg);
    background-size: 100%, 1em 1em;
}